@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @responsive {
      .overflow-ellipsis-1 {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        white-space: normal;
      }
  
      .overflow-ellipsis-2 {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        white-space: normal;
      }
  
      /* Add more responsive classes as needed */
    }
  }
  